.datepicker {
    @apply absolute z-[999] flex hidden w-72 py-2;
    &.active {
        @apply block;
    }
    .datepicker-picker {
        @apply rounded-md bg-white p-3 shadow-md dark:bg-dark-800;
    }

    .datepicker-header {
        @apply flex w-full items-center justify-center gap-3;
    }
    .datepicker-footer {
        @apply mt-2;
        button {
            @apply text-sm hover:text-primary;
        }
    }
    .datepicker-controls {
        @apply flex w-full items-center justify-between gap-x-3;
        .view-switch {
            @apply h-10 rounded-md px-2 py-1 hover:bg-dark-100 hover:dark:bg-dark-900;
        }
        .next-button {
            @apply w-10 rounded-md p-2 hover:bg-dark-100 hover:dark:bg-dark-900;
        }
        .prev-button {
            @apply w-10 rounded-md p-2 hover:bg-dark-100 hover:dark:bg-dark-900;
        }
    }
    .datepicker-view {
        @apply mt-6;
    }
    .days-of-week,
    .datepicker-grid {
        @apply grid grid-cols-7 text-center;
    }
    .days-of-week {
        @apply text-sm font-semibold;
    }

    .day {
        @apply cursor-pointer rounded-lg p-1.5 text-sm hover:bg-dark-100 hover:dark:bg-dark-900;
    }
    .day.today {
        @apply bg-primary/50 text-white;
    }

    .day.prev,
    .day.next {
        @apply text-muted-foreground;
    }
    .day.selected {
        @apply bg-primary text-white hover:bg-primary;
    }

    .datepicker-view.months,
    .datepicker-view.years,
    .datepicker-view.decades {
        @apply grid grid-cols-4;
        .month,
        .year,
        .decade {
            @apply cursor-pointer rounded-md py-6 hover:bg-dark-100 hover:dark:bg-dark-900;
            &.selected {
                @apply bg-primary;
            }
        }
    }

    // daterange
    .day.range {
        @apply rounded-none bg-primary/20 dark:bg-primary/10;
    }
    .day.range-end {
        @apply rounded-l-none bg-primary text-white;
    }
    .day.range-start {
        @apply rounded-l-lg rounded-r-none bg-primary text-white;
    }
    .day.range-start.day.range-end {
        @apply rounded-lg;
    }
}
