.dataTable {
    width: 100% !important;
    @apply text-sm;

    thead {
        @apply dark:bg-dark-800 #{!important};
        @apply px-3 py-2;
        @apply bg-dark-100 #{!important};
    }

    tbody tr {
        @apply border-b border-dark-100 hover:bg-dark-50 dark:border-dark-800 dark:hover:bg-dark-800/30;
    }
}

.dt-layout-row {
    @apply block w-full md:table;
}

.dt-layout-cell {
    @apply relative py-1 align-middle text-sm md:table-cell;
}

.dt-processing {
    @apply absolute inset-x-0 z-10 m-auto h-full w-full bg-dark/20;

    div {
        @apply mt-6 flex items-center justify-center gap-1;

        div:nth-child(1) {
            @apply h-3 w-3 animate-pulse rounded-full bg-primary;
        }

        div:nth-child(2) {
            @apply h-3 w-3 animate-pulse rounded-full bg-primary delay-75;
        }

        div:nth-child(3) {
            @apply h-3 w-3 animate-pulse rounded-full bg-primary delay-100;
        }

        div:nth-child(4) {
            @apply h-3 w-3 animate-pulse rounded-full bg-primary delay-75;
        }
    }
}

.dt-info {
    @apply text-center text-muted-foreground md:text-start;
}

.dt-search input,
.dt-length select {
    @apply appearance-none rounded-md border border-border bg-transparent px-2 py-1.5 focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-1 dark:focus:ring-offset-dark-800;
}

.dt-search label {
    @apply text-muted-foreground;
}

.dt-length {
    @apply text-center md:text-start;

    select {
        @apply w-14;
    }

    label {
        @apply text-muted-foreground;
    }
}

.dt-end {
    @apply text-center md:text-end;
}

.dt-paging {
    @apply inline-flex items-center justify-end gap-1 rounded-full bg-dark-100 dark:bg-dark-800;

    button {
        @apply min-h-8 min-w-8 rounded-full p-1 text-xs text-muted-foreground dark:bg-dark-800;

        &:hover:not(.current) {
            @apply bg-dark-200 dark:bg-dark-700;
        }

        &.current {
            @apply border-2 border-primary-300 bg-primary-500 text-white dark:border-dark-700;
        }
    }
}

.dataTable thead {
    th {
        @apply relative;
    }
}

.dataTable .sorting {
    @apply cursor-pointer pr-6 before:absolute before:right-3 before:top-1 before:text-[10px] before:content-["\2191"] after:absolute after:right-1 after:text-[10px] after:content-["\2193"];
}

.dataTable .sorting.sorting_desc {
    @apply before:text-dark-400 before:dark:text-dark-700;
}

.dataTable .sorting.sorting_asc {
    @apply after:text-dark-400 after:dark:text-dark-700;
}

.dt-orderable-asc {
    &.dt-ordering-asc {
        .dt-column-order {
            @apply after:text-dark-400 after:dark:text-dark-700;
        }
    }

    &.dt-ordering-desc {
        .dt-column-order {
            @apply before:text-dark-400 before:dark:text-dark-700;
        }
    }

    .dt-column-order {
        @apply w-full before:absolute before:right-3 before:top-1 before:text-[10px] before:content-["\2191"] after:absolute after:right-1 after:text-[10px] after:content-["\2193"];
    }
}

// responsive datatable ovveride
table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control:before {
    content: '+';
    @apply inline-flex h-4 w-4 items-center justify-center rounded-full border-none bg-primary text-white;
}

table.dataTable.dtr-inline.collapsed > tbody > tr.dtr-expanded > td.dtr-control:before,
table.dataTable.dtr-inline.collapsed > tbody > tr.dtr-expanded > th.dtr-control:before {
    content: '-';
    @apply inline-flex h-4 w-4 items-center justify-center rounded-full border-none bg-danger text-white;
}

table.dataTable.dtr-inline.collapsed > tbody > tr.child ul.dtr-details > li {
    @apply border-b-dark-100 dark:border-b-dark-800;
}

// datatable v1.13.11 & responsive v2.5.1
.dataTables_wrapper {
    @apply relative;
}

.dataTables_wrapper::after {
    content: '';
    @apply invisible clear-both block h-0;
}

table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td.dtr-control:before,
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th.dtr-control:before {
    content: '-';
    @apply inline-flex h-4 w-4 items-center justify-center rounded-full border-none bg-danger text-white;
}

.dataTables_length,
.dataTables_filter {
    label {
        @apply text-sm;
    }

    select,
    input {
        @apply ml-1 min-w-16 appearance-none rounded-md border border-border bg-transparent px-2 py-1.5 focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-1 dark:focus:ring-offset-dark-800;
    }
    @apply mb-3;
}

.dataTables_length,
.dataTables_info {
    @apply float-none mb-3 mt-4 text-center md:float-left md:ml-4 md:text-left;
}

.dataTables_filter,
.dataTables_paginate {
    @apply float-none my-4 text-center md:float-right md:mr-4 md:text-left;
}

.dataTables_info {
    @apply mb-12 mt-4 text-sm md:mb-0 md:mt-5;
}

.dataTables_paginate {
    @apply absolute -mt-10 ml-[50%] inline-flex -translate-x-1/2 items-center justify-center gap-1 self-center overflow-hidden rounded-full bg-dark-100 dark:bg-dark-800 md:relative md:ml-0 md:mt-4 md:translate-x-0;

    span {
        @apply flex flex-row items-center gap-1;
    }

    .paginate_button {
        &.previous,
        &.next {
            @apply px-2;
        }

        @apply flex min-h-8 min-w-8 cursor-pointer items-center justify-center rounded-full p-1 text-sm text-muted-foreground dark:bg-dark-800;

        &:hover:not(.current) {
            @apply bg-dark-200 dark:bg-dark-700;
        }

        &.current {
            @apply border-2 border-primary-300 bg-primary-500 text-white dark:border-dark-700;
        }
    }
}

.dataTables_processing {
    @apply absolute inset-x-0 z-10 m-auto w-full;

    div {
        @apply mt-6 flex items-center justify-center gap-1;

        div:nth-child(1) {
            @apply h-3 w-3 animate-pulse rounded-full bg-primary;
        }

        div:nth-child(2) {
            @apply h-3 w-3 animate-pulse rounded-full bg-primary delay-75;
        }

        div:nth-child(3) {
            @apply h-3 w-3 animate-pulse rounded-full bg-primary delay-100;
        }

        div:nth-child(4) {
            @apply h-3 w-3 animate-pulse rounded-full bg-primary delay-75;
        }
    }
}
